
/**
Services
*/
.services {
    text-align: center;
    padding: 100px 0;
}

.services span {
    color: #155bd5;
    border: solid 2px #155bd5;
    font-size: 14px;
    padding: 8px 30px;
    border-radius: 20px;
}

.services>p {
    width: 520px;
    /*max-width: 520px;*/
    margin: 16px auto;
}

.services .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    gap: 20px;
}

.services .cards .card {
    border: solid 1px #efefef;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
}

.services .cards .card:hover {
    box-shadow: 5px 5px 20px 0px rgba(145, 145, 145, 0.43);
    -webkit-box-shadow: 5px 5px 20px 0px rgba(145, 145, 145, 0.43);
    -moz-box-shadow: 5px 5px 20px 0px rgba(145, 145, 145, 0.43);
}

.services .cards .card:hover .icon {
    color: white;
    background-color: #155bd5;
}

.services .cards .card .icon {
    display: inline-block;
    border: solid 1px black;
    padding: 10px;
    font-size: 40px;
    width: 49px;
    text-align: center;
    border-radius: 40px;
    color: #155bd5;
}

.services .cards .card h4 {
    font-size: 20px;
    color: #1d1d1d;
}

@media (max-width: 1360px) {
    .cards {
        justify-content: space-between;

    }
}


@media (max-width: 860px) {
    .services .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 520px) {
    .services .cards {
        grid-template-columns: 1fr;
    }

    .services>p {
        width: 100%;
    }
}