

/*
    Section Our Work
*/
.our-work {
    padding: 100px 0;
    text-align: center;
}

.our-work span {
    color: #155bd5;
    border: solid 2px #155bd5;
    font-size: 14px;
    padding: 8px 30px;
    border-radius: 20px;
}

.our-work>p {
    max-width: 520px;
    margin: 16px auto;
}

.our-work ul {
    list-style: none;
    padding: 0;
    margin: 50px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.our-work ul li {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 0 30px;
    border-bottom: 5px solid #fff;
    white-space: nowrap;
}

.our-work ul li.active,
.our-work ul li:hover {
    color: #155bd5;
    border-bottom: 5px solid #155bd5;
}

.our-work ul li a {
    text-decoration: none;
    color: #1d1d1d;
}

.our-work ul li.active a,
.our-work ul li:hover a {
    color: #155bd5;
}

@media (max-width: 1200px) {
    .our-work ul {
        gap: 10px;
    }
}

@media (max-width: 816px) {
    .our-work ul li {
        padding: 0 20px;
    }
}

@media (max-width: 716px) {
    .our-work ul li {
        padding: 0 10px;
    }
}

@media (max-width: 616px) {
    .our-work ul {
        gap: 20px;
    }

    .our-work ul li {
        padding: 0 30px;
    }
}

.our-work .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.our-work .cards .card {
    text-align: left;
}

.our-work .cards .card h4 {
    font-size: 24px;
    margin: 10px 0;
}

.our-work .cards .card .image {
    position: relative;
}

.our-work .cards .card .image img {
    border-radius: 10px;
    width: 100%;
}

.our-work .cards .card .image .background {
    background-color: white;
    opacity: 0.8;
    width: calc(100% - 20px);
    height: calc(100% - 24px);
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    border-radius: 10px;
    display: none;
}

.our-work .cards .card:hover .image .background {
    display: block;
}


.our-work .cards .card .image .icons {
    position: absolute;
    top: calc(50% - 28px);
    left: calc(50% - 68px);
    z-index: 2;
    display: none;
}

.our-work .cards .card:hover .image .icons {
    display: block;
}

.our-work .cards .card .image .icon {
    background-color: #155bd5;
    padding: 10px;
    display: inline-block;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    margin-right: 10px;
    width: 36px;
    text-align: center;
}

.our-work .cards .card .image .icon:hover {
    background-color: #0c48b1;
}

@media (max-width: 1200px) {
    .our-work .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 610px) {
    .our-work .cards {
        grid-template-columns: 1fr;
    }
}